
<div class="pilas-drop-file-container">

  {{#if filePath}}
    <p>Ok</p>

    <p>{{filePath}}</p>
  {{else}}

    <i class="cloud upload icon massive grey"></i>

    <div class="description">
      Por favor, arrastrá y soltá una imagen sobre este cuadro para comenzar.
    </div>

  {{/if}}
</div>
