
<div class="pilas-drop-file-container {{if onHover 'active'}}">

  {{#if filePath}}
    <p>OK: {{fileName}}</p>
  {{else}}

    <i class="cloud upload icon massive grey"></i>

    <div class="description">
      <p>Por favor, arrastrá y soltá una imagen sobre este cuadro para comenzar.</p>
      <p>O <a href="" id='simulate' {{action "simulate"}}>probá</a> con una imagen de ejemplo.</p>
    </div>

  {{/if}}

</div>
