{{outlet}}

<div class="ui cards">
  <div class="card">
    <div class="content">
      {{pilas-dropFile imagePath=imagePath onDrop="onDrop"}}
    </div>
  </div>
</div>


{{#if hasImage}}
  {{#link-to  "editor" imagePath class="ui button primary"}}Continuar{{/link-to}}
{{/if}}

<p>
{{#link-to  "index" class="ui button"}}Cancelar y volver{{/link-to}}
</p>
