{{outlet}}

<div class="ui cards">
  <div class="card">
    <div class="content">
      {{pilas-dropFile onDrop="onDrop"}}
    </div>
  </div>
</div>


{{#if hasImage}}
  <button class="ui button primary" {{action "continuar"}}>Vincular imagen y continuar</button>
{{/if}}

<p>
{{#link-to  "index" class="ui button"}}Cancelar y volver{{/link-to}}
</p>
