{{outlet}}

<div class="ui cards">
  <div class="card">
    <div class="content drop-image-content">
      {{pilas-dropFile onDrop="onDrop"}}
    </div>
  </div>
</div>

<div class="padding-vertical">
  {{#if hasImage}}
    <button class="ui button primary" {{action "continuar"}} id="continue">Vincular imagen y continuar</button>
  {{/if}}

  {{#link-to  "index" class="ui button"}}Cancelar y volver{{/link-to}}
</div>
