
<div class="section-container">

  <div class="ui two item tabs menu">
    {{#link-to 'editor.index' model class="item"}}Editor{{/link-to}}
    <!-- {{#link-to 'editor.animations' model class="item"}}Animaciones{{/link-to}} -->
  </div>

</div>

<div class="padding-vertical">
  {{#link-to "index" class="ui button"}}Volver a la pantalla inicicial{{/link-to}}
</div>

{{outlet}}
