<h2>Pilas Compositor de Grilla</h2>

<p>Mediante esta aplicación se pueden probar y
  depurar imágenes para convertirlas en grillas.</p>

<p>{{#link-to "dropImage" class="ui button" id='start'}}Comenzar{{/link-to}}</p>
